* {
  margin: 0;
  padding: 0;
}

/* body */
body {
  background-color: #f48f23;
  font-family: 'Times New Roman', Times, serif;
}

    /* nav-bar */
    .lg img{
      width: 9rem;
      margin-right: 2rem;
  }
  
  .navbar{
      padding: 1.5rem 3rem ;
      font-size: 1.3rem;
  }
  
  .nav-link, .active{
      color: #c77948;
  
  }
  
  .nav-link:hover{
      background-color: #c77948;
  }
  
  .dropdown-menu a:hover {
      background-color: #c77948;
  }

.min {
  display: flex;
  justify-content: space-between;
  width: 90% !important;
  font-size: 22px;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.items {
  text-align: center;
  font-size: 26px;
}

span {
  font-size: 22px;
}



.add {
  text-align: end;
  transform: translateX(-15%);
}

/* add button */
.add-item,
.sort-item, #filter {
  font-size: 18px;
  border: none;
  background-color: #f48f23;
}

.sort_item{
  justify-content: space-between;
  width: 50%;
}

.title{
  width: 30%;
}

/* table */
table {
  width: 90% !important;
  font-size: 2px;
  border: 2px solid black !important;
  margin-left: auto;
  margin-right: auto;
}

th {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;

  font-size: 22px;
}

.td {
  border-right: 2px solid black;
}

.head {
  font-size: 20px;
}

#delelete,
#edit {
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid black;
}

/* modal */

h5 {
  color: wheat;
  font-size: 28px;
}

label {
  font-size: 20px;
}

input {
  font-size: 15px;
  background-color: wheat;
  width: 15rem;
  text-align: center;
}

.buttns {
  margin-top: 5px;
}

/* modal form */
.form {
  display: grid;
  grid-template-columns: 1fr;
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  bottom: 0;
  background-color: #c77948;
  
}

.name {
  font-size: 24px;
}

.copyright {
  font-size: 18px;
}
